body {
    background-image: url('https://source.unsplash.com/random/1600x900');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    background-color: aliceblue;
    padding: 50px 40px;
    box-shadow: 0 20px 65px gray;
    position: relative;
    border-radius: 8px;
  }

  .container p {
    color: pink;
    line-height: 2;
    font-size: 18px;
  }

  .container h3 {
    color: white     
  }

  .container p{
    color: pink;
    line-height: 2;
    font-size: 18px;
  }

  .container h3 {
    color: white;
    margin: auto;
    font-weight: 600;
    text-transform: capitalize; 
  }

  .container button {
    background-color: white;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    cursor: pointer;
  }